.filter-header {
    font-size: 1.5rem;
}

.filter-sub-header {
    font-size: 1.1rem;
    margin: 10px 0px;
}

.form-check-label {
    display: block;
    margin-bottom: 5px;
}

.form-check-input {
    margin-right: 10px;
}

.btn-filter {
    margin-top: 10px;
}