.job_postings_page {
    display: flex;
    padding: 25px 80px;
    gap: 50px;
    overflow: hidden;
    height: 90%;
}

#root {
    height: 100vh;
    overflow: hidden;
}

.filter {
    flex: 0 0 27%;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.search_and_display_jobs {
    flex: 1;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.filter-content, .posts, .search-job {
    background-color: white;
    border-radius: 7px;
    border: 1px solid rgb(231,231,231);
    padding: 20px;
}

.filter-content {
    overflow: scroll;
    flex: 1;
}

.posts {
    height: 100%;
    overflow: scroll;
    margin-top: 15px;
    flex: 1;
}

.post:not(:last-child) {
    margin-bottom: 20px;
}

.post {
    background-color: rgb(246,246,246);
    border: 1px solid rgb(231,231,231);
    border-radius: 7px;
    padding: 25px;
}

.post-logo {
    width: 65px;
    height: 65px;
    object-fit: contain;
    border-radius: 7px;
    margin-right: 15px;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-job-title {
    margin-bottom: 5px;
}

.post-job-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 15px 0px;
}

.location {
    display: flex;
    align-items: center;
    margin-left: -7px;
}

.salary {
    margin-top: 5px;
}

.keyphrase {
    background-color: yellow;
    display: inline;
}

/* Modal */
.modal-dialog {
    max-width: 50% !important;
    height: 80vh !important;
}

.modal-content {
    height: 100%;
}

.modal-header {
    align-items: flex-start;
}

.modal-body {
    height: 100%;
    overflow: scroll;
}

.modal-sub-header {
    display: flex;
    align-items: center;
}

.middle-dot {
    margin: 0px 5px;
}

.modal-body-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.modal-body-desc {
    margin-bottom: 15px;
}

.modal-text {
    font-size: 0.9rem;
}

.modal-emplouer-logo {
    width: 80px;
    margin-right: 15px;
}